.gradient {
  min-width: 100vw;
  min-height: 100vh;
margin:0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center; /* Align items to the top */
  flex-direction: column; /* Arrange items in a column */
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 50px;
  border-radius: 10px;
  margin: 20px auto; /* Add margin to create space between logo and login */
  max-width: 400px;
  width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .gradient {
    min-width: 100%;
  }
  .loginContainer {
    margin: 10px;
    max-width:200px;
  }
}
